* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /* 200 - 800 */
    font-style: normal;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: left;
    padding-left: 18vw;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("back.png");
    padding-right: 30px;
}

@media screen and (max-width: 1700px) {
    body {
        background-size: contain;
    }
}

@media screen and (max-width: 1400px) {
    body {
        padding-left: 10vw;
    }
}

@media screen and (max-width: 1250px) {
    body {
        padding-left: 5vw;
    }
}

@media screen and (max-width: 1130px) {
    body {
        padding-left: 5vw;
    }
}

@media screen and (max-width: 700px) {
    body {
        padding-left: 3vw;
        position: relative;

    }

    img {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -360%);
    }

    h1 {
        font-size: 30px !important;
        text-align: center;
        margin-bottom: 25px !important;
        padding-left: 8px;
    }

    ul {
        padding: 0;
        top: 50%;
        left: 50%;
        padding-left: 10px;
    }

    li {
        font-size: 20px !important;
    }

    li:not(:last-child) {
        margin-bottom: 20px !important;
    }

    #openModalBtn {
        font-size: 20px !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 450%);
        width: 300px;
    }

    #openModalBtn:hover {
        transform: translate(-50%, 445%) !important;
    }


}

@media screen and (max-width: 440px) {
    body {
        padding-left: 2.5vw;
    }

    h1 {
        font-size: 25px !important;
    }

    li {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 370px) {
    h1 {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 1080px) {
    img {
        transform: translate(-50%, -380%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 1000px) {
    img {
        transform: translate(-50%, -380%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 920px) {
    img {
        transform: translate(-50%, -390%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 870px) {
    img {
        transform: translate(-50%, -400%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 840px) {
    img {
        transform: translate(-50%, -410%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 800px) {
    img {
        transform: translate(-50%, -420%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 770px) {
    img {
        transform: translate(-50%, -440%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 745px) {
    img {
        transform: translate(-50%, -450%) !important;
    }

    #openModalBtn {
        transform: translate(-50%, 440%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 710px) {
    img {
        transform: translate(-50%, -460%) !important;
    }

    #openModalBtn {
        transform: translate(-50%, 420%) !important;
    }
}

@media screen and (max-width: 700px) and (max-height: 670px) {
    img {
        transform: translate(-50%, -470%) !important;
    }

    #openModalBtn {
        transform: translate(-50%, 400%) !important;
    }
} 

img {
    height: 10vh;
}

h1 {
    font-weight: 800;
    font-size: 50px;
}

h2 {
    font-weight: 800;
    font-size: 30px !important;
    margin: 0px;
    transform: translateY(-30px);
    padding-top: 20px;
}

ul,
ol,
li {
    list-style: none;
}

li {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: rgb(78, 78, 78);
}


li:not(:last-child) {
    margin-bottom: 8px;
}

li:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 15px;
    background: url("icon-time.png") no-repeat center center;
    background-size: contain;
    /* or cover */
    flex-shrink: 0;
}

li:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 19px;
    background: url("icon-safe.png") no-repeat center center;
    background-size: contain;
    /* or cover */
    flex-shrink: 0;
}

li:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 15px;
    background: url("icon-delivery.png") no-repeat center center;
    background-size: contain;
    /* or cover */
    flex-shrink: 0;
}

li:nth-child(4)::before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 15px;
    background: url("icon-doc.png") no-repeat center center;
    background-size: contain;
    /* or cover */
    flex-shrink: 0;
}

#openModalBtn {
    background-color: #00b33c;
    font-weight: 800;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.5s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    letter-spacing: 1.5px;
    margin-top: 25px;
}

#openModalBtn:hover {
    background-color: #009c34;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    transform: translateY(-160%);
    transition: transform 0.3s ease;
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal-content.show {
    transform: translateY(-20%);
}

@media screen and (max-width: 1000px) {
    .modal-content.show {
        transform: translateY(-10%);
    }
}

@media screen and (max-width: 700px) {
    label {
        font-size: 17px !important;
    }

    input[type=text],
    input[type=email] {
        font-size: 17px !important;
    }

    input[type=submit] {
        font-size: 17px !important;
    }

    #responseMessage {
        font-size: 18px !important;

    }

    h2 {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 500px) {
    label {
        font-size: 16px !important;
    }

    input[type=text],
    input[type=email] {
        font-size: 16px !important;
    }

    input[type=submit] {
        font-size: 16px !important;
    }

    #responseMessage {
        font-size: 17px !important;
    }

    h2 {
        font-size: 23px !important;
    }
}

.close {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 50px !important;
    font-weight: bold;
    cursor: pointer;
    margin-top: -62px;
    margin-left: 400px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
}

@media screen and (max-width: 520px) {
    .close {
        display: none;
    }
}

label {
    font-size: 20px;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: -10px;
}

input[type=submit] {
    width: 100%;
    background-color: #00b33c;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    transition: background-color 0.3s;
    letter-spacing: 1.5px;
    margin-top: 15px;
}

input[type=submit]:hover {
    background-color: #009c34;
}

#responseMessage {
    margin-top: 20px;
    font-weight: 800;
    color: red;
    height: 20px;
}


/* ANIMATION MADE BY ARTEM ZASUKHIN*/

.loop-wrapper {
    margin: 0 auto;
    display: block;
    width: 480px;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid #009c34;
    color: #00b33c;
    position: absolute;
    margin-left: 555px;
    transform: translateY(-153px);
}

@media screen and (max-width: 1130px) {
    .loop-wrapper {
        display: none;
    }
}

.mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow:
        0 0 0 50px #00b33c56,
        60px 50px 0 70px #00b33c56,
        90px 90px 0 50px #00b33c56,
        250px 250px 0 50px #00b33c56,
        290px 320px 0 50px #00b33c56,
        320px 400px 0 50px #00b33c56;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
}

.hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow:
        0 0 0 50px #00b33c2c,
        -20px 0 0 20px #00b33c2c,
        -90px 0 0 50px #00b33c2c,
        250px 0 0 50px #00b33c2c,
        290px 0 0 50px #00b33c2c,
        620px 0 0 50px #00b33c2c;
    animation: hill 4s 2s linear infinite;
}

.tree,
.tree:nth-child(2),
.tree:nth-child(3) {
    position: absolute;
    height: 100px;
    width: 35px;
    bottom: 0;
    background: url('tree.svg') no-repeat;
    filter: brightness(0) saturate(100%) invert(35%) sepia(99%) saturate(636%) hue-rotate(90deg) brightness(95%) contrast(92%);
}

.rock {
    margin-top: -17%;
    height: 2%;
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #555555;
}

.truck,
.wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #00b33c;
}

.truck {
    background: url('truck.svg') no-repeat;
    background-size: contain;
    height: 60px;
    filter: brightness(0) saturate(100%) invert(35%) sepia(99%) saturate(636%) hue-rotate(90deg) brightness(120%) contrast(92%);
}

.truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
        -30px 28px 0 1.5px #00b33c,
        -35px 18px 0 1.5px #00b33c;
}

.wheels {
    background: url('wheels.svg') no-repeat;
    height: 15px;
    margin-bottom: 0;
    filter: brightness(0) saturate(100%) invert(35%) sepia(99%) saturate(636%) hue-rotate(90deg) brightness(120%) contrast(92%);
}

.tree {
    animation: tree 3s 0.000s linear infinite;
}

.tree:nth-child(2) {
    animation: tree2 2s 0.150s linear infinite;
}

.tree:nth-child(3) {
    animation: tree3 8s 0.050s linear infinite;
}

.rock {
    animation: rock 4s -0.530s linear infinite;
}

.truck {
    animation: truck 4s 0.080s ease infinite;
}

.wheels {
    animation: truck 4s 0.001s ease infinite;
}

.truck:before {
    animation: wind 1.5s 0.000s ease infinite;
}

@keyframes tree {
    0% {
        transform: translate(1350px);
    }

    50% {}

    100% {
        transform: translate(-50px);
    }
}

@keyframes tree2 {
    0% {
        transform: translate(650px);
    }

    50% {}

    100% {
        transform: translate(-50px);
    }
}

@keyframes tree3 {
    0% {
        transform: translate(2750px);
    }

    50% {}

    100% {
        transform: translate(-50px);
    }
}

@keyframes rock {
    0% {
        right: -200px;
    }

    100% {
        right: 2000px;
    }
}

@keyframes truck {
    0% {}

    6% {
        transform: translateY(0px);
    }

    7% {
        transform: translateY(-6px);
    }

    9% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-1px);
    }

    11% {
        transform: translateY(0px);
    }

    100% {}
}

@keyframes wind {
    0% {}

    50% {
        transform: translateY(3px)
    }

    100% {}
}

@keyframes mtn {
    100% {
        transform: translateX(-2000px) rotate(130deg);
    }
}

@keyframes hill {
    100% {
        transform: translateX(-2000px);
    }
}